<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--start-->
<!-- header -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img src="http://icons.iconarchive.com/icons/iconshock/brilliant-food/128/beer-icon.png"  height="57" width="80"/>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
           
                <!--<li>
                    <a class="page-scroll" ng-click="goToServices(1)">Special Offers</a>
                </li>-->
               
                <!--<li class="dropdown">
                    <span class="dropdown-toggle" ui-sref="landing.serviceTypes" type="button" >
                        Services
                        <span class="caret"></span>
                    </span>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <div class="nav-btn-item user-menu logged pull-right">
            <div class="dropdown userDropdown">
                <span class="dropdown-toggle" type="button">
                    <span class="userNameText">
                        Ahmed
                        
                    </span>
                    <!--<span class="userNameIcon">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>-->
                    <span class="caret"></span>
                </span>
                
            </div>

           
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- end-of header -->
<!-- wrapper -->
<div>
    <div>
        <!-- uiView: ui-view -->
        <div ui-view></div>
    </div>


</div>


<script src="/Scripts/main.js"></script>