<div class="heading-tabs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="nav nav-pills">

                    <li class="active">
                        <a  data-toggle="pill" data-target="#menu1" >beers</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    <div id="menu1" class="tab-pane fade active in">

        <header id="" class="bg-secondary  text-left">

            <div class="container-fluid">
                <div class="wrapper">
                    <ul class="pull-left clearfix">
                        <li class="pull-left" style="padding-right: 5px">
                            Sort by:
                            <select ng-model="pagingInfo.Order" ng-change="load()" >
                                <option value="createDate">Create Date </option>
                                <option value="status">Status</option>
                                <option value="ibu">IBU</option>
                                <option value="abv">ABV</option>

                            </select>
                        </li>
                        <li class="pull-left">
                            <select ng-model="pagingInfo.Sort" ng-change="load()">
                                <option value="ASC">Ascending</option>
                                <option value="DESC">Descending</option>
                            </select>
                        </li>
                    </ul>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="history-tabs">
                                <div class="tab-content">
                                    <div class="table-responsive">
                                        <table class="table" style="border-collapse: collapse;">
                                            <thead>
                                            <tr>
                                                <th >ID </th>
                                                <th >Name
                                                    <i class="fa fa-caret-up" ng-hide="downShowName" ng-init="downShowName=true"  ng-click="pagingInfo.Order='name';pagingInfo.Sort='ASC';load();downShowName=true"></i>
                                                    <i class="fa fa-caret-down" ng-hide="!downShowName" ng-click="pagingInfo.Order='name';pagingInfo.Sort='DESC';load();downShowName=false"></i>
                                                </th>
                                                <th>Status
                                                    <i class="fa fa-caret-up" ng-hide="downShow" ng-init="downShow=true" ng-click="pagingInfo.Order='status';pagingInfo.Sort='ASC';load();downShow=true"></i>
                                                    <i class="fa fa-caret-down" ng-hide="!downShow" ng-click="pagingInfo.Order='status';pagingInfo.Sort='DESC';load();downShow=false"></i>
                                                </th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th><input type="text" ng-init="pagingInfo.filters[0].Key='ids'" name="id" ng-model="pagingInfo.filters[0].Value" data-ng-keypress="$event.charCode ==13?load():null"/></th>
                                                <th> <input type="text" ng-init="pagingInfo.filters[1].Key='name'" name="name" ng-model="pagingInfo.filters[1].Value" data-ng-keypress="$event.charCode ==13?load():null"/></th>
                                                <th><input type="text" ng-init="pagingInfo.filters[2].Key='status'" name="status" ng-model="pagingInfo.filters[2].Value" data-ng-keypress="$event.charCode ==13?load():null"/></th>
                                                <th ></th>

                                            </tr>
                                            </thead>
                                           
                                            <tbody ng-repeat="beer in beers.beerDataObjectListVM">
                                            <tr data-toggle="collapse" data-target="#demo{{beer.id}}" ng-click="getById(beer.id,beer)" class="accordion-toggle">
                                                <td class="text-center">
                                                    {{beer.id }}<br>
                                                </td>
                                                <td class="text-center">{{beer.name}}</td>
                                                <td class="text-center">{{beer.status}}</td>
                                                <td class="text-center">
                                                    <a>View details</a>
                                                </td>
                                            </tr>
                                            <tr class="hiddenTr">
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="demo{{beer.id}}">
                                                        <table class="table borderless">
                                                            <tbody>
                                                            <tr>
                                                                
                                                                <td >
                                                                    Description<br>
                                                                    <span class="primary-color">{{beer.details.description}}</span>

                                                                </td>

                                                            </tr>
                                                                <tr>

                                                                    <td>
                                                                        Serving Temperature<br>
                                                                        <span class="primary-color">{{beer.details.servingTemperatureDisplay}}</span>

                                                                    </td>
                                                                    <td>
                                                                        ABV<br>
                                                                        <span class="primary-color">{{beer.details.abv}}</span>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="active text-center">
                                        <div class="text-center">
                                            <pagination page="beers.currentPage"
                                                        ng-model="pagingInfo.page"
                                                        total-items="beers.totalResults"
                                                        items-per-page="50"
                                                        ng-change="selectPage(beers.currentPage)"
                                                        max-size="5"
                                                        rotate="false"
                                                        boundary-links="true">
                                            </pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </header>
    </div>


</div>
<style>
    .container {
        font-size: 16px;
        line-height: 16px;
        height: 32px;
        overflow: hidden;
    }

    .show {
        overflow: visible;
        height: auto;
    }
</style>
